.DS_STORE
.vscode
/tehtava2/target/
/tehtava3/target/
/tehtava4/target/
/tehtava5/target/
/tehtava6/target/
/tehtava7/target/
/tehtava8/target/
/strategy/target/
/tehtava9/target/
/tehtava10/target/
/tehtava11/target/
/tehtava12/target/
/tehtava14/target/
